# ============================================================
# DATASET
# ============================================================

*.zip
Chilli Leaf Disease Image Dataset for Classificati/


# ============================================================
# MODEL CHECKPOINTS
# ============================================================

*.pth
*.pt


# ============================================================
# PYTHON CACHE
# ============================================================

__pycache__/
*.pyc


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# SYSTEM / EDITOR FILES
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db